import asyncio

from aiogram import Bot, Router
from aiogram.client.default import DefaultBotProperties
from aiogram.filters import CommandStart
from aiogram.types import Message

{% if database %}
from database import create_tables
{% endif %}
from settings import settings
{% if mode.type == 'webhook' %}
from botango.bot.core_bot import WebhookBot
{% endif %}
{% if mode.type == 'long_polling' %}
from botango.bot.core_bot import LongPollingBot
{% endif %}
bot = Bot(token=settings.BOT_TOKEN, default=DefaultBotProperties(parse_mode='HTML'))
router = Router()

{% if mode.type == 'webhook' %}
app = WebhookBot(
    bot=bot,
    base_url=settings.WEBHOOK_URL,
    webhook_secret=settings.WEBHOOK_SECRET,
    allowed_updates=["message", "callback_query"]
)
{% endif %}
{% if mode.type == 'long_polling' %}
app = LongPollingBot(
    bot=bot
)
{% endif %}

@router.message(CommandStart())
async def example_func(message: Message):
    await message.answer(text="Hello from botango!")

# if you need to include routers
app.include_routers(router)

async def main():
    {% if database %}
    await create_tables()
    {% endif %}
    {% if mode.type == 'webhook' %}
    app.run()
    {% endif %}
    {% if mode.type == 'long_polling' %}
    await app.run()
    {% endif %}

if __name__ == '__main__':
    asyncio.run(main())
