"""Example database model User"""

from sqlalchemy import Integer, BigInteger
from sqlalchemy.orm import Mapped, mapped_column

from .base import Base

class UserDbModel(Base):
    __tablename__ = "users"

    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    user_id: Mapped[int] = mapped_column(BigInteger)